@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to get Baked</h1>
    <p>You can buy baked goods anywhere</p>
    <a asp-controller="Shop" asp-action="Index" class="btn btn-primary">
        Shop Now!
    </a>
</div>
